@model InvitesViewModel

@if (Model.Invites.Count <= 0)
{
    <p class="summarySize">You don't have any invites.</p>
}
else
{
    string invites = Model.Invites.Count > 1 ? "invites" : "invite";

    <details>
        <summary class="summarySize">You have @Model.Invites.Count @invites.</summary>
        @foreach (var item in Model.Invites)
        {
            <p>@item.RequestedFrom.FirstName @item.RequestedFrom.LastName (@item.RequestedFrom.UserName)</p>
            <a class="nav-link text-success" asp-area="" asp-controller="FriendRequest" asp-action="Accept" asp-route-id="@item.Id">Accept</a>
            <a class="nav-link text-danger" asp-area="" asp-controller="FriendRequest" asp-action="Reject" asp-route-id="@item.Id">Reject</a>
        }
    </details>
}

<hr />

@if (Model.Pending.Count <= 0)
{
    <p class="summarySize">You haven't made any requests recently.</p>
}
else
{
    string requests = Model.Pending.Count > 1 ? "requests" : "request";

    <details>
        <summary class="summarySize">You've sent @Model.Pending.Count @requests.</summary>
        @foreach (var item in Model.Pending)
        {
            <p>@item.RequestedTo.FirstName @item.RequestedTo.LastName (@item.RequestedTo.UserName)</p>
            <a class="text-danger" asp-route-id="@item.Id" asp-controller="FriendRequest" asp-action="Delete">Delete</a>
        }
    </details>
}

<style>
    .summarySize {
        font-size: 40px;
        font-weight: bold;
    }
</style>