@model List<FriendRequestViewModel>

@if (Model.Count <= 0)
{
    <h1>You don't have any invites.</h1>
}

@foreach (var item in Model)
{
    <p>@item.RequestedFrom.FirstName @item.RequestedFrom.LastName (@item.RequestedFrom.UserName)</p>
    <a class="nav-link text-success" asp-area="" asp-controller="FriendRequest" asp-action="Accept" asp-route-id="@item.Id">Accept</a>
    <a class="nav-link text-danger" asp-area="" asp-controller="FriendRequest" asp-action="Reject" asp-route-id="@item.Id">Reject</a>
}