@model UserViewModel

<h1>@Model.FirstName @Model.LastName</h1>
<h2>@Model.UserName</h2>
<a type="button" asp-controller="FriendRequest" asp-action="SendRequest" asp-route-id="@Model.Id" style="color:green;text-decoration:none;">Add friend</a>

@foreach (var item in Model.Posts)
{
    <div style="padding: 10px;">
        <p class="bg-success">@item.Content</p>

        @if (item.Image != null)
        {
            string directory = $"/Images/Posts/{@item.Image}";

            @if (item.IsDownloadable)
            {
                <a href=@directory download="image">Save post</a>
            }

            <img src=~@directory alt="image" asp-append-version="true" />
        }

        <div style="padding: 3px;">
            <div style="border: 2px;">
                @foreach (var comment in item.Comments)
                {
                    <div style="border: 2px solid #808080; padding: 3px">

                        @if (comment.User != null)
                        {
                            <a type="button" asp-controller="User" asp-action="Details" asp-route-id="@comment.UserId" style="color:green;text-decoration:none;">@comment.User.FirstName @comment.User.LastName (@comment.User.UserName)</a>
                        }

                        <div style="padding-top: 4px;">@comment.Content</div>
                    </div>
                }
            </div>
            <br />
        </div>
    </div>
}