@model UserViewModel
@{
    ViewData["Title"] = @Model.UserName;
}

<h1>@Model.FirstName @Model.LastName</h1>
<h2>@Model.UserName</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="FriendRequest" asp-action="Invites">Invites</a>
<a class="nav-link text-dark" asp-area="" asp-controller="FriendRequest" asp-action="PendingRequests">Pending requests</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Friend" asp-action="FriendsList">Friends</a>

@foreach (var item in Model.Posts)
{
    <a type="button" asp-controller="Post" asp-action="DeletePost" asp-route-id="@item.Id" style="color:red;text-decoration:none;">Remove</a>
    <a type="button" asp-controller="Post" asp-action="Update" asp-route-id="@item.Id" style="color:deepskyblue;text-decoration:none;">Edit</a>

    <div style="padding: 10px;">
        <p class="bg-success">@item.Content</p>

        @if (item.Image.ImageUrl != null)
        {
            @if (item.Image.IsDownloadable)
            {
                <a href="@item.Image.ImageDownloadUrl" download="image">Save post</a>
            }

            <img src="@item.Image.ImageUrl" alt="image" asp-append-version="true" />
        }

        <div style="padding: 3px;">
            <div style="border: 2px;">
                @foreach (var comment in item.Comments)
                {
                    <div style="border: 2px solid #808080; padding: 3px">

                        @if (comment.User != null)
                        {
                            <a type="button" asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id" style="color:red;text-decoration:none;">Delete</a>
                            <a type="button" asp-controller="User" asp-action="Details" asp-route-id="@comment.UserId" style="color:green;text-decoration:none;">@comment.User.FirstName @comment.User.LastName (@comment.User.UserName)</a>
                        }

                        <div style="padding-top: 4px;">@comment.Content</div>
                    </div>
                }
            </div>
            <br />
        </div>
    </div>
}