@model UserViewModel
@{
    ViewData["Title"] = @Model.UserName;
}

@if (Model.ProfilePicture != null)
{
    <img src=@Model.ProfilePicture.ImageUrl alt="Profile picture" asp-append-version="true" />

    @if (Model.ProfilePicture.IsDownloadable)
    {
        <a href=@Model.ProfilePicture.ImageDownloadUrl>Save</a>
        <br />
    }

    <a type="button" asp-controller="User" asp-action="DeleteProfilePicture" style="color:red; text-decoration:none;">Remove</a>
    <br />
}
else
{
    <img src="~/Images/From app/Default profile picture.jpeg" alt="Alternate Text" />
}

<a asp-controller="User" asp-action="CreateProfilePicture">Change profile picture</a>

<h1>@Model.FirstName @Model.LastName</h1>
<h2>@Model.UserName</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="FriendRequest" asp-action="Invites">Invites</a>
<a class="nav-link text-dark" asp-area="" asp-controller="FriendRequest" asp-action="PendingRequests">Pending requests</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Friend" asp-action="FriendsList">Friends</a>
<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="QrCode">Qr code</a>

@foreach (var item in Model.Posts)
{
    <hr />
    <a type="button" asp-controller="Post" asp-action="DeletePost" asp-route-id="@item.Id" style="color:red;text-decoration:none;">Remove</a>
    <a type="button" asp-controller="Post" asp-action="Update" asp-route-id="@item.Id" style="color:deepskyblue;text-decoration:none;">Edit</a>

    <div style="padding: 10px;">
        <p class="text-info">@item.TimePosted</p>
        <p class="bg-success">@item.Content</p>

        @if (item.ImageUrl != null)
        {
            @if (item.IsDownloadable)
            {
                <a href="@item.ImageDownloadUrl" download="image">Save post</a>
            }

            <img src="@item.ImageUrl" alt="image" asp-append-version="true" />
        }

        <div style="padding: 3px;">
            <div style="border: 2px;">
                <details>
                    <summary>(likes: @item.LikesCount) (dislikes: @item.DislikesCount)</summary>
                    @foreach (var reaction in item.Reactions)
                    {
                        <div style="border: 2px solid #808080; padding: 3px">

                            @if (reaction.User != null)
                            {
                                <a type="button" asp-controller="User" asp-action="Details" asp-route-id="@reaction.UserId" style="color:green;text-decoration:none;">@reaction.User.FirstName @reaction.User.LastName (@reaction.User.UserName)</a>
                            }

                            <div style="padding-top: 4px;">@reaction.Name</div>
                        </div>
                    }
                </details>
                <details>
                    <summary>@item.Comments.Count comments</summary>
                    @foreach (var comment in item.Comments)
                    {
                        <div style="border: 2px solid #808080; padding: 3px">

                            @if (comment.User != null)
                            {
                                <a type="button" asp-controller="User" asp-action="Details" asp-route-id="@comment.UserId" style="color:green;text-decoration:none;">@comment.User.FirstName @comment.User.LastName (@comment.User.UserName)</a>
                            }

                            <a class="text-danger" asp-action="DeleteComment" asp-controller="Comment" asp-route-id="@comment.Id">Delete</a>
                            <p class="text-info">@comment.TimeCommented</p>
                            <div style="padding-top: 4px;">@comment.Content</div>
                        </div>
                    }
                </details>
            </div>
            <div style="padding-top: 5px;">

                @if (TempData["NotEmptyComment"] != null || (string)TempData["NotEmptyComment"] != null)
                {
                    <p class="text-danger">@TempData["NotEmptyComment"]</p>
                }

                <form asp-route-id="@item.Id" asp-action="Create" asp-controller="Comment" method="post">
                    <input type="text" name="content" />
                    <button type="submit">Comment</button>
                </form>
            </div>
            <div>
                <a asp-controller="Reaction" asp-action="AddReaction" asp-route-name="like" asp-route-postId="@item.Id">like</a>
                <a asp-controller="Reaction" asp-action="AddReaction" asp-route-name="dislike" asp-route-postId="@item.Id">dislike</a>
            </div>
        </div>
    </div>
}