@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/search.js" defer></script>
<script src="~/js/comments.js" defer></script>
<script src="~/js/reactions.js" defer></script>
<link href="~/css/search.css" rel="stylesheet" />

<button id="search-button" class="search-btn" style="background-color: #ace29e; color: #ffffff; border-radius: 50%; margin: 23px 10px 29px 0; text-align: center; width: 35px; height: 35px; padding: 5px; user-select: none;"><i class="fas fa-search"></i></button>

<div id="searchbar" class="hide">
    <div class="search-wrapper">
        <label for="search">Search User</label>
        <input type="search" id="search" data-search>
    </div>
    <div class="user-cards" data-user-cards-container></div>
    <template data-user-template>
        <div class="card">
            <a class="header" data-header></a>
            <div class="body" data-body></div>
        </div>
    </template>
</div>

<style>
    .hide {
        display: none;
    }
</style>

<br />
@foreach (var item in Model.Posts)
{
    <div style="padding: 10px;">
        <a asp-controller="User" asp-action="Details" asp-route-id="@item.UserId">@item.User.FirstName @item.User.LastName (@item.User.UserName)</a>
        <p class="text-info">@item.TimePosted</p>
        <div class="bg-success">@item.Content</div>

        @if (item.ImageUrl != null)
        {
            @if (item.IsDownloadable)
            {
                <a href="@item.ImageDownloadUrl" download="image">Save post</a>
            }

            <img src="@item.ImageUrl" alt="image" asp-append-version="true" />
        }

        <div style="padding: 3px;">
            <div style="border: 2px;">
                <details>
                    <summary id="reaction-summary-@item.Id"><i class="far fa-thumbs-up"></i> @item.LikesCount <i class="far fa-thumbs-down"></i> @item.DislikesCount</summary>
                    <div id="reactions-@item.Id">
                        @foreach (var reaction in item.Reactions)
                        {
                            <div style="border: 2px solid #808080; padding: 3px">

                                @if (reaction.User != null)
                                {
                                    <a type="button" asp-controller="User" asp-action="Details" asp-route-id="@reaction.UserId" style="color:green;text-decoration:none;">@reaction.User.FirstName @reaction.User.LastName (@reaction.User.UserName)</a>
                                }

                                <div style="padding-top: 4px;">@reaction.Name</div>
                            </div>
                        }
                    </div>
                </details>
                <details>
                    <summary id="comment-summary-@item.Id">@item.Comments.Count comments</summary>
                    <div id="comments-@item.Id">
                        @foreach (var comment in item.Comments)
                        {
                            <div style="border: 2px solid #808080; padding: 3px">

                                @if (comment.User != null)
                                {
                                    <a type="button" asp-controller="User" asp-action="Details" asp-route-id="@comment.UserId" style="color:green;text-decoration:none;">@comment.User.FirstName @comment.User.LastName (@comment.User.UserName)</a>
                                }
                                @if (User.IsInRole("Admin")
                               || Model.LoggedUserId == comment.UserId
                               || item.UserId == Model.LoggedUserId)
                                {
                                    <a class="text-danger" asp-action="DeleteComment" asp-controller="Comment" asp-route-id="@comment.Id">Delete</a>
                                }

                                <p class="text-info">@comment.TimeCommented</p>
                                <div style="padding-top: 4px;">@comment.Content</div>
                            </div>
                        }
                    </div>
                </details>
            </div>
            <div style="padding-top: 5px;">

                @if (TempData["NotEmptyComment"] != null || (string)TempData["NotEmptyComment"] != null)
                {
                    <p class="text-danger">@TempData["NotEmptyComment"]</p>
                }

                <form asp-route-id="@item.Id" asp-action="Create" asp-controller="Comment" method="post">
                    <input id="content-@item.Id" class="inputa" type="text" name="content" />
                    <button id="sender-@item.Id" class="sender" type="button">Comment</button>
                </form>
            </div>
            <div>
                @{
                    string likeStyle = "text-success";
                    string dislikeStyle = "text-danger";
                }

                @if (item.IsLikedByUser)
                {
                    likeStyle += " font-weight-bold";
                }
                @if (item.IsDislikedByUser)
                {
                    dislikeStyle += " font-weight-bold";
                }

                <button id="like-sender-@item.Id" class="@likeStyle likes" asp-controller="Reaction" asp-action="JsonAddReaction" asp-route-name="like" asp-route-postId="@item.Id">like</button>
                <button id="dislike-sender-@item.Id" class="@dislikeStyle dislikes" asp-controller="Reaction" asp-action="JsonAddReaction" asp-route-name="dislike" asp-route-postId="@item.Id">dislike</button>
            </div>
        </div>
    </div>
    <hr />
}