@{
    ViewData["Title"] = "Home Page";
    @model List<PostViewModel>
}

<script src="~/js/search.js" defer></script>
<link href="~/css/search.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div class="search-wrapper">
    <label for="search">Search User</label>
    <input type="search" id="search" data-search>
</div>
<div class="user-cards" data-user-cards-container></div>
<template data-user-template>
    <div class="card">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
    </div>
</template>

@foreach (var item in Model)
{
    <a class="m-5" type="button" asp-controller="User" asp-action="Details" asp-route-id="@item.UserId">@item.User.FirstName @item.User.LastName - @item.User.UserName</a>
    <div class="m-5 bg-success">@item.Content</div>

    @if (item.Image != null)
    {
        <img src="~/Images/Posts/@item.Image" alt="Image" asp-append-version="true" />
    }

    @foreach (var comment in item.Comments)
    {
        if (comment.User != null)
        {
            <a class="m-5" type="button" asp-controller="User" asp-action="Details" asp-route-id="@comment.UserId">@comment.User.FirstName @comment.User.LastName - @comment.User.UserName</a>
        }

        <div class="tab bg-info">@comment.Content</div>
    }

    <form asp-action="Create" asp-controller="Comment" method="post">
        <input type="text" name="content" />
        <input class="hide" type="text" name="postId" value="@item.Id" />
        <button type="submit">Comment</button>
    </form>
    <hr />
}