@model List<UserViewModel>

@foreach (UserViewModel user in Model)
{
    <a asp-action="Details" asp-controller="User" asp-route-id="@user.Id">@user.FirstName @user.LastName (@user.UserName)</a>

    @if (!user.IsAdmin)
    {
        <a class="text-danger" asp-action="BanUser" asp-controller="Admin" asp-route-userId="@user.Id">Delete</a>
        <a class="text-success" asp-action="MakeAdmin" asp-controller="Admin" asp-route-userId="@user.Id">Make admin</a>
    }

    <br />
}